@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
:root {
    --white: #feffff;
    --white-darker: #f1f2f2;
    --light: #def2f1;
    --light-darker: #bdcecd;
    --green: #3aafa9;
    --dark-green: #2b7a78;
    --dark: #17252a;
    --bg-color: var(--light);
    --bg-messanger: var(--white);
    --bg-header: var(--green);
    --bg-header-hover: var(--dark-green);
    --header-text: var(--white);

    font-family: "Montserrat", sans-serif;
}
.link {
    color: inherit;
    text-decoration: none;
}
.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: var(--bg-color);
}
.main-window {
    display: grid;
    grid-template-columns: 31fr 69fr;
    grid-template-rows: 48px 60px 1fr;
    box-sizing: border-box;
    width: 100%;
    max-width: 1010px;
    height: calc(100vh - 23px);
    margin-bottom: 23px;
    overflow: hidden;
    background: var(--bg-messanger);
    -webkit-box-shadow: 0 4px 8px -3px rgba(34, 60, 80, 0.09);
    -moz-box-shadow: 0 4px 8px -3px rgba(34, 60, 80, 0.09);
    box-shadow: 0 4px 8px -3px rgba(34, 60, 80, 0.09);
}
.main-window__header {
    grid-column: span 2;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--header-text);
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    background: var(--bg-header);
}
.hidden {
    display: none !important;
}
.header__menu-button,
.header__title,
.header__back-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 48px;
    padding: 0 15px;
}
.header__menu-button {
    cursor: pointer;
}
.header__back-button {
    display: none;
    margin-left: 15px;
}
.header__menu-button:hover,
.header__back-button:hover {
    background: var(--bg-header-hover);
}

.flex-filler {
    flex-grow: 99;
}
.main-window__contacts-container,
.main-window__search-container {
    grid-column: 1;
    box-sizing: border-box;
    overflow: hidden;
    border-right: 2px solid var(--bg-color);
}
.main-window__search-container {
    padding: 10px 15px;
}
.main-window__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40px;
    color: var(--light-darker);
    background: var(--bg-color);
    border-radius: 5px;
}
.search__label {
    padding: 0 6px 0 15px;
    line-height: 40px;
}
.search__search-bar {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
}
.search__clear {
    padding: 0 15px 0 6px;
    cursor: pointer;
}
.contacts {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.contacts__contact {
    width: 100%;
    height: 60px;
}
.contacts__contact:hover {
    background: var(--white-darker);
}
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.picture-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: var(--white);
    background: var(--dark-green);
    border-radius: 50%;
}
.contact__picture-wrap {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 24px;
}
.contact__text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: calc(100% - 95px);
    height: 50px;
}
.contact__name {
    width: 100%;
    padding-right: 15px;
    overflow: hidden;
    font-size: 16px;
    text-overflow: ellipsis;
}
.contact__last-message_from {
    margin-right: 0.5em;
    color: var(--green);
}
.contact__last-message {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;
}
.contact__last-message_content {
    overflow: hidden;
    text-overflow: ellipsis;
}
.contact__picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.main-window__contacts {
    overflow-y: scroll;
}
.main-window__chats-container {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2 / 4;
    justify-content: center;
    align-items: center;
    color: var(--light-darker);
    font-size: 2em;
}
.main-window__chat-select-message {
    margin: 0 20%;
    text-align: center;
}
.chat-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-rows: 1fr 60px;
    width: 100%;
    height: 100%;
    background: var(--bg-messanger);
}
.chat-box__input-wrap {
    flex-grow: 1;
    height: 40px;
    background: var(--white-darker);
    border-radius: 5px;
}
.chat-box__send-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 10px 15px;
}
.chat-box__message-input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 12px 15px;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
}
.chat-box__send-button {
    margin-left: 15px;
    cursor: pointer;
}
.chat-box__send-button:hover {
    color: var(--dark-green);
}
.chat-box__box {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0 10% 20px 10%;
    overflow-y: scroll;
}
.message-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 1em;
    color: black;
    font-size: 12px;
}
.chat-box__message-group {
    width: 100%;
}
.message-group__picture-wrap {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    font-size: 16px;
}
.message-group__messages {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: calc(100% - 50px);
}
.messages__author {
    order: 1;
    color: var(--green);
    font-size: 1.2em;
}
.messages__message {
    display: grid;
    grid-template-columns: 1fr 50px;
    width: 100%;
    margin-top: 1.3em;
}
.message__time {
    color: var(--light-darker);
}
.message-group__picture {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.message__content {
    padding-right: 10px;
}
#back-check:checked ~ .content-box .header__back-button {
    display: flex;
}
