@media screen and (max-width: 1010px), screen and (max-height: 600px) {
    .main-window {
        height: 100vh;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    .chat-box__box {
        padding: 10px;
    }
    .main-window__header {
        flex-direction: row-reverse;
        grid-column: auto;
    }
    .main-window__contacts-container,
    .main-window__search-container,
    .main-window__chats-container {
        position: relative;
        transition: left 3s;
    }
    .main-window__contacts-container_moved,
    .main-window__search-container_moved,
    .main-window__chats-container_moved {
        left: -100vw;
    }
    .header__back-button {
        display: flex;
    }
    #back-check:checked ~ .content-box .main-window__contacts-container,
    #back-check:checked ~ .content-box .main-window__search-container {
        left: 0;
    }
    #back-check:checked ~ .content-box .main-window__chats-container {
        left: 100vw;
    }
    .main-window {
        grid-template-columns: 100vw 100vw;
    }
    .main-window__chat-select-message {
        display: none;
    }
    .header__menu-container {
        margin-right: 15px;
        margin-left: 0;
    }
    .header__menu {
        right: 0;
        left: auto !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
