# OS X
.DS_Store
Icon?
._*

# Linux
.directory
*~

# npm
node_modules
package-lock.json
*.log
*.gz
npm-debug.log
.env
*.seed
*.csv
*.dat
*.out
*.pid

pids
logs
results
build
thumbs.db
lib-cov

# Git
.git
.idea
# dependencies
/cleint/node_modules
/client/.pnp
.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
