.content-box {
    justify-content: center;
}
.auth-link {
    position: relative;
    padding: 1em 2em;
    color: var(--white);
    font-weight: bold;
    font-size: 2em;
    background: var(--dark-green);
    border-radius: 10px;
}
