@media screen and (max-width: 1010px), screen and (max-height: 600px) {
    .main-window {
        height: 100vh;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 600px) {
    .main-window {
        grid-template-columns: 100vw 0;
    }
    .main-window__chat-select-message {
        display: none;
    }
    .main-window__header {
        flex-direction: row-reverse;
    }
    .header__menu-button {
        margin-right: 15px;
        margin-left: 0;
    }
}
