<!doctype html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/media.css">

  <script src="https://kit.fontawesome.com/9836da61d9.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="content-box">
    <div class="main-window">
      <header class="main-window__header header">
        <input type="checkbox" name="menu-check" id="menu-check" class="header__menu-check hidden">
        <label for="menu-check" class="header__menu-button">
          <i class="fas fa-bars"></i>
        </label>
        <span class="header__title">Kilogram</span>
      </header>
      <section class="main-window__search-container">
        <div class="main-window__search search">
          <label for="chat-search" class="search__label">
            <i class="fas fa-search"></i>
          </label>
          <input type="text" name="chat-search" id="chat-search" class="search__search-bar" placeholder="Search">
          <i class="fas fa-times search__clear" id="chat-search-clear"></i>
        </div>
      </section>
      <section class="main-window__contacts-container">
        <ul class="main-window__contacts contacts">
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
        </ul>
      </section>
      <section class="main-window__chats-container">
        <span class="main-window__chat-select-message">Please select a chat to start messaging 🥺</span>
        <div class="main-window__chat-box chat-box">
          <div class="chat-box__box">
            <div class="chat-box__message-group message-group">
              <div class="picture-wrap message-group__picture-wrap">
                МС
              </div>
              <div class="message-group__messages messages">
                <span class="messages__author">Matthew Savelev</span>
                <div class="messages__message message">
                  <span class="message__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae deserunt est eveniet facere illum, ipsa iure laudantium, magni minus molestiae nostrum officia officiis porro praesentium sit, suscipit voluptate voluptatem?</span>
                  <span class="message__time">23:59</span>
                </div>
                <div class="messages__message message">
                  <span class="message__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae deserunt est eveniet facere illum, ipsa iure laudantium, magni minus molestiae nostrum officia officiis porro praesentium sit, suscipit voluptate voluptatem?</span>
                  <span class="message__time">23:58</span>
                </div>
                <div class="messages__message message">
                  <span class="message__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae deserunt est eveniet facere illum, ipsa iure laudantium, magni minus molestiae nostrum officia officiis porro praesentium sit, suscipit voluptate voluptatem?</span>
                  <span class="message__time">23:57</span>
                </div>
              </div>
            </div>
            <div class="chat-box__message-group message-group">
              <div class="picture-wrap message-group__picture-wrap">
                <img src="/images/contacts/0.jpg" alt="Profile Picture" class="message-group__picture">
              </div>
              <div class="message-group__messages messages">
                <span class="messages__author">Matthew Savelev</span>
                <div class="messages__message message">
                  <span class="message__content">(памагити)</span>
                  <span class="message__time">23:55</span>
                </div>
                <div class="messages__message message">
                  <span class="message__content">Когда-нибудь я это жоделаю....</span>
                  <span class="message__time">22:59</span>
                </div>
                <div class="messages__message message">
                  <span class="message__content">Я устал :(</span>
                  <span class="message__time">21:59</span>
                </div>
              </div>
            </div>
            <div class="chat-box__message-group message-group">
              <div class="picture-wrap message-group__picture-wrap">
                МС
              </div>
              <div class="message-group__messages messages">
                <span class="messages__author">Matthew Savelev</span>
                <div class="messages__message message">
                  <span class="message__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae deserunt est eveniet facere illum, ipsa iure laudantium, magni minus molestiae nostrum officia officiis porro praesentium sit, suscipit voluptate voluptatem?</span>
                  <span class="message__time">20:59</span>
                </div>
                <div class="messages__message message">
                  <span class="message__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae deserunt est eveniet facere illum, ipsa iure laudantium, magni minus molestiae nostrum officia officiis porro praesentium sit, suscipit voluptate voluptatem?</span>
                  <span class="message__time">20:59</span>
                </div>
                <div class="messages__message message">
                  <span class="message__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae deserunt est eveniet facere illum, ipsa iure laudantium, magni minus molestiae nostrum officia officiis porro praesentium sit, suscipit voluptate voluptatem?</span>
                  <span class="message__time">20:59</span>
                </div>
              </div>
            </div>
            <div class="chat-box__message-group message-group">
              <div class="picture-wrap message-group__picture-wrap">
                <img src="/images/contacts/0.jpg" alt="Profile Picture" class="message-group__picture">
              </div>
              <div class="message-group__messages messages">
                <span class="messages__author">Matthew Savelev</span>
                <div class="messages__message message">
                  <span class="message__content">но ниже в DOM'е</span>
                  <span class="message__time">12:00</span>
                </div>
                <div class="messages__message message">
                  <span class="message__content">это сообщение должно быть выше, так как раньше</span>
                  <span class="message__time">12:00</span>
                </div>
                <div class="messages__message message">
                  <span class="message__content">Проверка очередности</span>
                  <span class="message__time">11:59</span>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-box__send-area">
            <label for="chat-message" class="chat-box__input-wrap">
              <textarea name="chat-message" id="chat-message" class="chat-box__message-input"
                        placeholder="Write a message..."></textarea>
            </label>
            <div class="chat-box__send-button">
              <i class="far fa-paper-plane"></i>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
