<!doctype html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/media.css">

  <script src="https://kit.fontawesome.com/9836da61d9.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="content-box">
    <div class="main-window">
      <header class="main-window__header header">
        <input type="checkbox" name="menu-check" id="menu-check" class="header__menu-check hidden">
        <label for="menu-check" class="header__menu-button">
          <i class="fas fa-bars"></i>
        </label>
        <span class="header__title">Kilogram</span>
      </header>
      <section class="main-window__search-container">
        <div class="main-window__search search">
          <label for="chat-search" class="search__label">
            <i class="fas fa-search"></i>
          </label>
          <input type="text" name="chat-search" id="chat-search" class="search__search-bar" placeholder="Search">
          <i class="fas fa-times search__clear" id="chat-search-clear"></i>
        </div>
      </section>
      <section class="main-window__contacts-container">
        <ul class="main-window__contacts contacts">
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              МС
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
          <li class="contacts__contact contact">
            <div class="contact__picture-wrap">
              <img src="/images/contacts/0.jpg" alt="Profile Picture" class="contact__picture">
            </div>
            <div class="contact__text-wrap">
              <span class="contact__name">verylonglonglonglonglonglonglonglonglonglonglong</span>
              <span class="contact__last-message">
                <span class="contact__last-message_from">You:</span>
                <span class="contact__last-message_content">msgmsgmsgmsgmsmgmsmgdmgmsdmgsfmg</span>
              </span>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</body>
